<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.base.open.mapper.OfficerMapper">
    <resultMap id="officer" type="net.base.open.entity.Officer">
        <constructor>
            <idArg column="Ono" javaType="String"/>
        </constructor>
    </resultMap>

    <!-- addOfficer --> 

    <insert id="addOfficer">
        INSERT INTO OFFICIERS 
        (Ono,Oname,Osex,Oposition,Ophone,Oaddress)
        VALUES
        (#{Ono},#{Oname},#{Osex},#{Oposition},#{Ophone},#{Oaddress})
    </insert>

    <!-- getOfficers --> 

    <select id="getOfficers" resultMap="officer">
        SELECT * FROM OFFICERS
        <where>
            <if test="Ono != null">
                Ono = #{Ono}
            </if>
            <if test="Oname != null">
                AND Oname = #{Oname}
            </if>
            <if test="Osex != null">
                AND Osex = #{Osex}
            </if>
            <if test="Oposition != null">
                AND Oposition = #{Oposition}
            </if>
        </where>
        LIMIT #{offset},#{limit}
    </select>

    <!-- deleteOfficer --> 

    <delete id="deleteOfficer">
        DELETE FROM OFFICERS
        <where>
            <if test="Ono != null">
                Ono = #{Ono}
            </if>
            <if test="Ono == null">
                AND Oname = #{Oname}
            </if>
        </where>
    </delete>

    <!-- updateOfficer --> 

    <update id="updateOfficer">
        UPDATE OFFICERS 
        <set>
            <if test="Oname != null and Oname != ''">
                Oname = #{Oname} ,
            </if>
            <if test="Oposition != null and Oposition != ''">
                Oposition = #{Oposition} ,
            </if>
            <if test="Ophone != null and Ophone != ''">
                Ophone = #{Ophone} ,
            </if>
            <if test="Oaddress != null and Oaddress != ''">
                Oaddress = #{Oaddress}
            </if>
        </set>
        WHERE Ono = #{Ono}
    </update>
</mapper>